.tagline
  %h1 Journal for sports and culture in antiquity

%article
  %section
    %h2 Objective

    %p
      It is Nikephoros' objective to serve the interdisciplinary study of sports and its cultural context in all of Antiquity (Pre- and Early History, early civilizations, Graeco-Roman Antiquity, early Christianity, Late Antiquity, Byzantium) as well as its reception history in Humanism and the modern era. Sports in 'primitive societies' should also not be excluded.

  %section
    %h2 Description

    %p
      The journal Nikephoros presents a publishing forum for the study of sports in Antiquity in the widest sense of the word. It on the one hand intends to further the study of sports in Antiquity, and on the other hopes to provide informative data for the study of Antiquity and the history of sports.

    %p
      Nikephoros is open to all scholars of Antiquity, archaeologists, historians, and philologists, as well as to specialists of epigraphics, papyrology and numismatics. The center of interest is sports in all its athletic and artistic forms and in the context of its societal functions and its place in religion, culture, politics, law, education, everyday life, etc.

  %section
    %h2 Of Interest To

    %p
      The journal will be of interest to scholars and students of the following disciplines: Ancient History, Archaeology, Classical Philology, Sports History, Near Eastern studies, Egyptology, Pre- and Early History, Hittitology, Byzantine studies, History of Religion, History of Law, Art History, History of the Theater, History of Architecture, History of Medicine, History of Technology, Theology, Ethnology, Cultural Anthropology, Historical Anthropology, Sociology, Philosophy, etc.
