tbody {
  font-size: 13px;
}

table nav {
  height: 30px;

  a {
    text-decoration: none;
    font-size: 12px;

    &:hover {
      color: $blue;
    }

    &:visited {
      color: #444;
    }
  }
}
