#article-search {
  margin-top: 10px;

  a {
    float: right;
    text-decoration: none;
    color: #444;

    &:hover {
      color: $blue;
    }
  }

  .input {
    margin-bottom: 5px;

    label {
      margin-right: 10px;
      margin-top: 3px;
      margin-left: 15%;
      float: left;
      text-align: right;
      width: 10%;
    }

    input {
      width: 50%;
    }
  }
}
