@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Open%20Sans);

html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F2F2F2;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

.container {
  height: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  background-color: white;
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.1), -1px 0 10px rgba(0, 0, 0, 0.1);
}
