@import url(http://fonts.googleapis.com/css?family=Raleway);

$blue: #2C98C8;

html {
  height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #F2F2F2;
  height: 100%;
}

p, th, td {
  letter-spacing: 1px;
}

.container {
  height: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  background-color: white;
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.1), -1px 0 10px rgba(0, 0, 0, 0.1);
}

.nowrap {
  white-space: nowrap
}

.hidden {
  display: none;
}
