.tagline {
  margin-top: 25px;
  text-align: center;

  h1 {
    font-size: 22px;
  }
}

article {
  text-align: justify;
  padding-left: 50px;
  padding-right: 50px;

  h2 {
    margin-bottom: 5px;
  }

  p {
    margin-top: 5px;
  }
}
